language: generic

addons:
    homebrew:
        packages:
            - freetds
        update: true

branches:
    except:
        - /^appveyor-.*$/

matrix:
    include:
        - env: CTDS_MAKE_TARGET=check_3.7
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=check_3.6
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=check_3.5
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=check_3.4
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=check_3.3
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=check_2.7
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=valgrind_3.6.3
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=valgrind_2.7.14
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=pylint
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - env: CTDS_MAKE_TARGET=doc
          os: linux
          dist: trusty
          services: docker
          sudo: required
        - os: osx


before_install: travis_wait travis/before_install.sh
install: travis/install.sh
script: travis/script.sh
after_script: travis/after_script.sh
after_success: travis/after_success.sh
after_failure: travis/after_failure.sh
